*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    /* font-family: "Angkor", serif; */
    font-family: "Suwannaphum", serif;
    /* font-weight: 400; */
    /* font-style: normal; */
}

.bar1{
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;
}

.logo-box{
    width: 80%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.logo-box a img{
    height: 90px;
    display: block;
}

.menu-bar{
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    width: 80%;
    /* background-color: brown; */
}

.menu ul{
    display: flex;
    align-items: center;
}

.menu ul li a{
    /* display: block; */
    padding: 15px;
    text-decoration: none;
    color: white;
    font-family: Arial, "Angkor", serif;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    font-size: 18px;
}

.menu ul li a:hover{
    background-color: brown;
}

.container{
    width: 80%;
    /* background-color: orange; */
    margin: auto;
    margin-top: 10px;
}

.slide-container{
    width: 100%;
    height: 500px;
    /* background-color: lightblue; */
    display: flex;
    gap: 10px
}

.slide-container .slide{
    width: 70%;
    height:100%;
    /* background-color: lightgrey; */
    display: flex;
    flex-wrap: wrap;
}

.slide-container .slide .box1{
    width: 55%;
    height: 50%;
    /* background-color: yellow; */
    position: relative;
}

.slide-container .slide .box1 .title-box, .slide-container .slide .box2 .title-box{
    position: absolute;
    bottom: 0;
    left: 0;
    /* background-color: pink; */
    width: 100%;
    color: white;
    padding: 0 10px;
    transition: 0.5s;
}

.slide-container .slide .box1 .title-box h1, .slide-container .slide .box2 .title-box h1{
    font-size: 18px;
    font-weight: 400px;
}

.slide-container .slide .box1 .title-box p, .slide-container .slide .box2 .title-box p{
    font-size: 12px;
    font-weight: 400px;
    visibility: hidden;
}

.slide-container .slide .box1:hover .title-box, .slide-container .slide .box2:hover .title-box{
    bottom: 40px;
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

.slide-container .slide .box1:hover .title-box p, .slide-container .slide .box2:hover .title-box p{
    visibility: visible;
}

.slide-container .slide .box1:hover .title-box h1, .slide-container .slide .box2:hover .title-box h1{
    color: red;
}

.slide-container .slide .box1 .time-box, .slide-container .slide .box2 .time-box{
    position: absolute;
    bottom: 0;
    left: 0;
    /* background-color: black; */
    color: white;
    width: 100%;
    font-size: 12px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    z-index: 1;
}

.slide-container .slide .box1:hover .time-box, .slide-container .slide .box2:hover .time-box{
    background-color: black;
}

.slide-container .slide .box1::before, .slide-container .slide .box2::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.302);
    position: absolute;
    top: 0;
    left: 0;
}

.slide-container .slide .box1 .menu-name, .slide-container .slide .box2 .menu-name{
    position: absolute;
    top: 8px;
    left: 0;
    /* background-color: yellow; */
    color: black;
    padding: 3px 10px;
    font-size: 11px;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
    padding-right: 20px;  
}

.slide-container .slide .box1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-container .slide .box2{
    width: 45%;
    height: 50%;
    /* background-color: green; */
    position: relative;
}

.slide-container .slide .box2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-container .slide .box1 .m1{
    background-color: yellow;
}

.slide-container .slide .box2 .m2{
    background-color: seagreen;
}

.slide-container .slide .box1 .m3{
    background-color: black;
    color: white;
}

.slide-container .slide .box2 .m4{
    background-color: salmon;
}

.slide-container .ads1{
    width: 30%;
    height:100%;
    /* background-color: lightgreen; */
}

.slide-container .ads1 ul{
    /* background-color: yellow; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.slide-container .ads1 ul li{
    width: 100%;
    height: 49%;
    /* background-color: steelblue; */
}

.slide-container .ads1 ul li a{
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
}

.slide-container .ads1 ul li a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-container .ads1 ul li iframe{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.news-container{
    width: 100%;
    /* height: 500px; */
    /* background-color: orange; */
    margin-top: 10px;
}

.news-container .cate-title{
    width: 100%;
    /* background-color: green; */
    /* border-bottom: 2px solid crimson; */
    position: relative;
}

.news-container .cate-title::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: crimson;
    bottom: 0;
    left: 0;
}

.news-container .cate-title h1{
    background-color: crimson;
    color: white;
    display: inline-block;
    font-family: "Angkor", serif;
    font-weight: normal;
    font-size: 18px;
    padding: 5px 20px;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
    padding-right: 30px;
}

.news-container .box-news{
    width: 100%;
    height: 400px;
    background-color: white;
    box-shadow: 1px 1px 4px 0 dimgray;
    display: flex;
    gap: 10px;
    padding: 20px;

}

.news-container .box-news .box1{
    width: 30%;
    height: 100%;
    /* background-color: aquamarine; */
}

.news-container .box-news .box1 .img-box{
    width: 100%;
    height: 60%;
    /* background-color: bisque; */
}

.news-container .box-news .box1 .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-container .box-news .box1 .txt-box{
    width: 100%;
    height: 40%;
    /* background-color: salmon; */
    font-size: 18px;
    /* padding: 9px; */

}

.news-container .box-news .box2{
    width: 70%;
    height: 100%;
    /* background-color: lightgreen; */
}

.news-container .box-news .box2 ul{
    width: 100%;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1%;
}

.news-container .box-news .box2 ul li{
    width: 24.5%;
    height: 49.5%;
    /* background-color: pink; */
}

.news-container .box-news .box2 ul li a{
    display: block;
    height: 100%;
    text-decoration: none;
}

.news-container .box-news .box2 ul li a img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    display: block;
}

.news-container .box-news .box2 ul li a span{
    color: black;
    font-size: 12px;
    display: block;
    line-height: 18px;
}










